.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 100;
  color: var(--secondary);
  box-shadow:
    0 10px 20px rgba(0, 0, 0, 0.04),
    0 2px 6px rgba(0, 0, 0, 0.04),
    0 0 1px rgba(0, 0, 0, 0.04);
  background-color: var(--white);
  .header__menu-top {
    justify-content: space-between;
    align-items: center;
    position: relative;
    transition:
      opacity 0.3s,
      transform 0.3s,
      height 0.3s,
      padding 0.3s;
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 1px;
      background: var(--divider-color);
    }
  }
  &--scroll-up {
    .header__menu-top {
      opacity: 1;
      transform: none;
      height: 79px;
      padding: 0;
    }
  }
  &--scroll-down {
    .header__menu-top {
      opacity: 0;
      transform: translateY(-25px) translateZ(0px);
      height: 0px;
      padding: 0px;
    }
  }

  .dowload-button {
    background: var(--orange-400);
    &:hover {
      background: var(--orange-500);
      color: var(--white);
    }
  }
}

.flag-icon {
  width: 40px;
  height: 24px;
  border-radius: 10px;
}

.dropdown-list {
  position: absolute;
  width: 350px;
  top: 100%;
  right: 0;
  border-radius: 12px;
  overflow: hidden;
  margin-top: 12px;
  background-color: var(--white);
  z-index: 1000;
  animation-name: fade;
  animation-duration: 0.5s;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.dropdown-item {
  display: flex;
  align-items: center;
  gap: 8px;

  cursor: pointer;
  padding: 16px 0 16px 16px;
  &:hover {
    background-color: #e6f2ff;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.language-icon {
  display: flex;
  align-items: center;
  padding: 8px;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid var(--border-color);
    border-radius: 8px;
  }
}

.nav-popup {
  cursor: pointer;
}
.popup-container {
  padding: 12px !important;
  border-radius: 8px;
  box-shadow: 0px 1px 8px 0px rgba(30, 32, 32, 0.12) !important;
  #menu-list-grow {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  .logout-button,
  .signup-button,
  .login-button {
    display: flex;
    gap: 4px;
    width: 100%;
  }

  .logout-button {
    background: linear-gradient(83.63deg, #ff3f33 33.34%, #ff675c 113.91%);
  }
}
